{% extends "startup/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load user_filter %}




{% block content %}
    
        
    <div class="d-flex mb-4">
        <div class="d-flex flex-column mr-2 ">
        
           <img class="rounded-4 mb-2"  witdth="150.55px" height="172.55px" src="{{ founder.image_url }}" alt="profile-image">
           <h2 class="text-center">{{ founder.startupName  }}</h2>
        
        </div>
        
        <div class="d-flex flex-column flex-grow-1">
            <p class="ml-5 fw-bold p-0">Description</p>
            <div class="card">
                <p class="card-body h-75 p-2">{{ founder.description  }}</p>
            </div>
        </div>
    </div>


    <h2>Website URL</h2>
    <div class="card mb-4">
        <p class="card-body p-2">  {{ founder.websiteUrl  }}</p>
    </div>

    
    <h2>City</h2>
    <div class="card mb-4">
        <div class="card-body p-2">  {{ founder.city  }}</div>
    </div>
    
    <h2>Business</h2>
    <div class="card mb-4">
        <div class="card-body p-2">  {{ founder.business  }}</div>
    </div>

    
    <h2>Annuel Revenue</h2>
    <div class="card mb-4">
        <div class="card-body p-2">  {{ founder.annualRevenue  }}</div>
    </div>
    
    <h2>Product type</h2>
    <div class="card mb-4">
        <div class="card-body p-2">  {{ founder.productType  }}</div>
    </div>


    {% if user.is_authenticated %}
        {% if user|is_user:'founder' == True %}
            <a class="btn btn-info" href="{% url 'founder_update' founder.pk %}">Edit profile</a>
        {% endif %}
    {% endif %}


{% endblock %}
