{% extends "startup/base.html" %}
{% load django_bootstrap5 %}
{% load static %}





{% block content %}
   
   
   
    <img width=250 height=250 src="{{ founder.founder_image_url }}" alt="profile-image">

    <h2>Startup Name</h2>
    <p>{{ founder.startupName }}</p>


    <h2>Website URL</h2>
    <p>{{ founder.websiteUrl  }}</p>

    <h2>City</h2>
    <p>{{ founder.city  }}</p>


    <h2>Business</h2>
    <p>{{ founder.business  }}</p>

    <h2>Annual  Revenue</h2>
    <p>{{ founder.annualRevenue  }}</p>

    <h2>Product type</h2>
    <p>{{ founder.productType  }}</p>
    
    <h2>Description</h2>
    <p>{{ founder.description  }}</p>


{% endblock %}
